
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
}

.about-page h1
{
    margin-bottom: 1rem;
}

.about-page h4
{
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    margin-top: 10px;
}

.about-page p {
  max-width: 1600px;
  font-size: 1.125rem;
  line-height: 1.6;
  opacity: 0.7;
}

.model-images
{
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.model-images img
{
  width: 100%;
  max-width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: rgba(0, 0, 0, 0.32);
  margin-bottom: 0.5rem;
}

.sound-video-grid
{
    display: flex;
    
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.sound-video-item
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.sound-video-item h5
{
    font-size: 0.6rem;
    margin: 0;
    opacity: 0.8;
    font-style: italic;
}

.sound-video-item video
{
    width: 100%;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background: rgba(0, 0, 0, 0.32);
}

.future-work-list
{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: decimal;
    opacity: 0.8;
}